.contentList {
  text-align: right;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 42vw;
  position: absolute;
  animation: aboutme-appear 1s ease-out forwards;
}

@keyframes aboutme-appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  .contentList {
    right: 10vw;
  }
}

.contentList li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.action {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 1rem;
}

.theme {
  display: flex;
  flex-direction: row-reverse;
}

.content {
  width: 8rem;
  height: 2.7rem;
  text-align: center;
  /*background-color: #DED1BD;*/
  background-color: #B08401;
  color: #FAFAFA;
  margin-right: 1rem;
  padding-top: 0.25rem;
}

.contentText {
  font-weight: bold;
  font-size: 0.9rem;
}

.contentTime {
  font-weight: lighter;
  font-size: 0.7rem;
}

.text {
  margin-top: 5px;
  color: #959794;
}

.textTime {
  font-size: 0.8rem;
}

.textAchive {
  font-size: 0.8rem;
  font-weight: bold;
}

.icon {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
}
