.contentList {
  text-align: right;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 35vw;
  position: absolute;
  animation: aboutme-appear 1s ease-out forwards;
  font-family: "Work Sans", sans-serif;
}

@keyframes aboutme-appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contentList li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.action {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 1rem;
}

.theme {
  display: flex;
  flex-direction: row-reverse;
}

.content {
  width: 10rem;
  height: 3.5rem;
  text-align: center;
  background-color: #B08401;
  color: #FAFAFA;
  margin-right: 1rem;
  padding-top: 0.25rem;
}

.contentText {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.contentTime {
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.text {
  margin-top: 5px;
  color: #959794;
}

.textTime {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.textAchive {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: bold;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}

@media screen and (max-width: 1450px) {
  .icon {
    width: 3rem;
    height: 3rem;
  }

  .content {
    width: 8rem;
    height: 3rem;
    padding-top: 0.15rem;
  }

  .contentText {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .contentTime {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .textTime {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .textAchive {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .contentList {
    right: 10vw;
  }

  .textTime {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .textAchive {
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: bold;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }

  .content {
    width: 6rem;
    height: 2rem;
  }

  .contentText {
    font-size: 0.8rem;
  }

  .contentTime {
    display: none;
  }
}
