.button {
  border: none;
  background: none;
  padding-bottom: 3px;
}

.button span {
  padding-bottom: 4px;
  letter-spacing: 2px;
  font-size: 10px;
  /*font-family: "Work Sans", sans-serif;*/
  font-weight: 600;
  padding-right: 10px;
  text-transform: uppercase;
}

.button svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.button:hover svg {
  transform: translateX(0);
}

.button:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #B08401;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #B08401;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



