.container {
  display: flex;
  justify-content: center;
}

.map {
  height: 800px;
  width: 800px;
}

.computer{
  display: block;
}

.phone{
  display:none;
}

@media (max-width: 600px){
  .computer{
    display: none;
  }

  .phone{
    display:block;
  }

  .map {
    height: 400px;
    width: 400px;
  }
}

.incidence {
  height: 400px;
  width: 400px;
}
