.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mapTitle {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #666;
  margin: 0.5rem 0 0.5rem 0.5rem
}

.mapSubtitle {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
  color: #666;
  margin: 0 0 0 0.5rem
}

.mapContainer {
  display: flex;
  justify-content: center;
}

.map {
  height: 600px;
  width: 600px;
}

.computer {
  display: block;
}

@media (max-width: 1450px) {
  .map {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 1200px) {
  .map {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 900px) {
  .map {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 600px) {

  .map {
    height: 400px;
    width: 400px;
  }

  .mapTitle {
    font-size: 0.9rem;
  }

  .mapSubtitle {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {

  .map {
    height: 300px;
    width: 300px;
  }

  .mapTitle {
    font-size: 0.9rem;
  }

  .mapSubtitle {
    font-size: 0.8rem;
  }
}


@media (max-width: 300px) {

  .map {
    height: 200px;
    width: 200px;
  }

  .mapTitle {
    font-size: 0.9rem;
  }

  .mapSubtitle {
    font-size: 0.8rem;
  }
}

