.cart-item {
  font-family: "Work Sans", Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  max-height: 12rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.25rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
}

.action {
  display: flex;
  justify-content: end;
  margin: 1rem 0 0.75rem 0;
}

.action .button--alt {
  background-color: #fafafa;
  color: #B08401;
  margin-right: 0.5rem;
}

.button--alt:hover,
.button--alt:active {
  background: #d4ab31;
  border-color: #d4ab31;
  color: #fafafa;
}

@media (max-width: 600px) {
  .cart-item {
    max-height: 6rem;
  }
}

