.button {
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 50px;
  padding: 0.5em;
  position: absolute;
  margin-top: 8.5rem;
  top: 10vh;
  left: 80vw;
  display: flex;
  flex-direction: column;
  color: #1A1920;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s;
  z-index: 10;
  box-shadow: 6px 6px 12px rgba(197, 197, 197, 0.2),
  -6px -6px 12px rgba(255, 255, 255, 0.2);
}

.button .cart {
  display: none;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.button .icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.5rem;
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover .icon {
  transform: scale(1.1);
}

.button:hover .cart {
  display: block;
  animation: fade_in_show 0.5s;
  margin-bottom: 0.3rem;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.button .quantity {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
  margin: auto;
  font: inherit;
}

.button:hover .quantity,
.button:active .quantity {
  background-color: rgba(255, 255, 255, 0.8);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
