.form {
  border-top: 1px solid #fafafa;
  margin-top: 1rem;
  padding: 1rem 1rem 0 1rem;
  max-height: 20rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.form .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  font-size: 0.8rem;
  border: 1px solid #fafafa;
  border-radius: 3px;
  /*width: 20rem;*/
  padding: 0.15rem 0 0.15rem 0.3rem;
}

.control #name {
  width: 28rem;
}

.control #city {
  width: 8rem;
}

.control #address {
  width: 28rem;
}

.control #plz {
  width: 8rem;
}

@media (max-width: 768px) {
  .form .row {
    display: flex;
    flex-direction: column;
  }

  .control #name {
    width: 15rem;
  }

  .control #city {
    width: 15rem;
  }

  .control #address {
    width: 15rem;
  }

  .control #plz {
    width: 15rem;
  }
}


.control p {
  color: #666;
  font-size: 0.7rem;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: end;
  margin: 1rem -1rem 0.75rem 0;
}

.button--alt {
  background-color: #fafafa;
  color: #B08401;
  margin-right: 0.5rem;
}

.button--alt:hover,
.button--alt:active {
  background: #d4ab31;
  border-color: #d4ab31;
  color: #fafafa;
}

.invalid label {
  color: #b94571;
}

.invalid input {
  border-color: #b94571;
  background-color: #fafafa;
}
