.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  align-items: center;
  animation: nav-appear 1s ease-out forwards;
}

@keyframes nav-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 1.5rem;
  font-size: 1rem;
  font-family: "Work Sans",sans-serif;
  text-align: center;
}

@media (min-width: 600px) {
  .nav li {
    font-size: 1.2rem;
  }
}

@media (min-width: 1450px) {
  .nav li {
    font-size: 1.5rem;
  }
}

.nav a {
  text-decoration: none;
  color: #999;
}

.nav a:hover,
.nav a:active {
  color: #F1C40F !important
}

