.main{
  width: 100%;
}

.card {
  max-width: 60rem;
  width: 60%;
  background: white;
  opacity: 0.7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 5px auto 2rem auto;
  padding: 1rem;
  animation: meals-appear 1s ease-out forwards;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 0.7;
    transform: translateY(0);
  }
}
