.bgImg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .bgImg {
    left: 50%;
    margin-left: -512px;
  }
}

.aboutMe {
  height: calc(100vh - 5rem);
  position: relative;
}

.arrowIcon {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

