.bgImg {
  min-height: 100%;
  min-width: 1200px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.bgColor {
  min-height: 100%;
  min-width: 1200px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 15%) 0%,
    hsla(0, 0%, 15%, 0.964) 7.4%,
    hsla(0, 0%, 15%, 0.918) 15.3%,
    hsla(0, 0%, 15%, 0.862) 23.4%,
    hsla(0, 0%, 15%, 0.799) 31.6%,
    hsla(0, 0%, 15%, 0.73) 39.9%,
    hsla(0, 0%, 15%, 0.655) 48.2%,
    hsla(0, 0%, 15%, 0.577) 56.2%,
    hsla(0, 0%, 15%, 0.497) 64%,
    hsla(0, 0%, 15%, 0.417) 71.3%,
    hsla(0, 0%, 15%, 0.337) 78.1%,
    hsla(0, 0%, 15%, 0.259) 84.2%,
    hsla(0, 0%, 15%, 0.186) 89.6%,
    hsla(0, 0%, 15%, 0.117) 94.1%,
    hsla(0, 0%, 15%, 0.054) 97.6%,
    hsla(0, 0%, 15%, 0) 100%
  );
  /*opacity: 0.9;*/
  z-index: -5;
}

.aboutMe {
  position: relative;
}


