#contentItems {
  /*background-color: transparent;*/
  /*background-color: yellow;*/
  padding-right: 10px;
  text-align: right;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}

#contentItems li {
  /*background-color: aqua;*/
  width: 20rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.programming {
  height: 15rem
}

.work {
  height: 12rem
}

.education {
  height: 7rem
}

.contentTheme {
  display: flex;
  flex-direction: row-reverse;
}

.contentTime {
  width: 8rem;
  height: 2.7rem;
  text-align: center;
  line-height: 2.7rem;
  background-color: #DED1BD;
  font-weight: bold;
  color: #fff;
  margin-right: 1rem;
}

.contentText {
  margin-top: 5px;
  color: #959794;
}

.icon {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
}
